<section>
  <h2>Agenda</h2>
  <div class="agenda-container">
    <div class="agenda">
      <div class="agenda-healine">
        <div class="agenda-healine_month">
          {{ firstDayOfActiveMonth().monthShort}}
          {{ firstDayOfActiveMonth().year}}
        </div>
        <div class="agenda-healine-controls">
          <span class="agenda-healine-control">"</span>
          <span class="agenda-healine-control agenda-healine-control--today">
            Today
          </span>
          <span class="agenda-healine-control">"</span>
        </div>
      </div>
      <div class="agenda-week-grid">
        <!-- $index pour des donnée static -->
        @for( weekday of weekDays(); track $index){
        <div class="agenda-week-cell"> {{weekday | uppercase}}</div>
        }

      </div>
    </div>

  </div>
</section>

