<!-- block html statique -->
<app-header/>
<div class="main-separator" >
  <img src="./assets/images/rose.jpg" class="separator-rose" *ngFor="let element of iteration"/>
</div>
<!-- ------------------------------ -->
<main class="content ">
  <!-- block html dynamique avec routeroutlet-->
  <!--
  le decorateur @defer de withIncrementalHydration fontionne avec la syntaxe du selecteur html en une seule balise et non 2 :
  <router-outlet> </router-outlet>
  cette fonctionnalité @defer  hydrate s applique  avec l inremental hydratation
  -->
  <!--@defer(on timer(15s); hydrate on interaction) {
  <router-outlet/>
  } @placeholder{
  <p>Chargement de la liste des tâches...</p>
  <app-load-spinner/>
  }@loading {
  <app-load-spinner/>
  }-->
  <router-outlet/>
</main>
<footer>
 copyright 2025
</footer>
