<!-- block html statique -->
<header class="brand-name">
  <img class="brand-logo" [src]="path" alt="logo" aria-hidden="true"/>
  <p>Welcome to task list app</p>
</header>
<div class="main-separator" >
  <img src="./assets/images/rose.jpg" class="separator-rose" *ngFor="let element of iteration"/>
</div>
<!-- ------------------------------ -->
<main class="content ">
  <!-- block html dynamique avec routeroutlet-->
  <router-outlet/>
  <!--
  le decorateur @defer de withIncrementalHydration fontionne avec la syntaxe du selecteur html en une seule balise et non 2 :
  <app-task-list> </app-task-list>
  cette fonctionnalité avec l inremental hydratation s applique pas au données statiques,
  mais  s applique par ex  aux  données chargées dynamiquement  depuis la bdd
  -->
  @defer(on timer(10s); hydrate on interaction) {
  <app-task-list/>
  } @placeholder {
  <p>Chargement de la liste des taches...</p>
  }
</main>
<!-- ------------------------------ -->
<footer>
 copyright 2025
</footer>
<!-- ------------------------------ -->
