@use 'sass:color';
//les artials scss ne doit etre configuré dans styles angular.json car non global et non compilé en css
@use 'colors';

// ****** Variables *******
$button-margin: 1rem;
$hover-color: color.adjust(colors.$secondary-color, $lightness: -10%);
//$hover-color: darken($primary-color, 10%);

.btn-delete {
  margin-left: $button-margin;
  border-radius: 5px;
  background-color: colors.$secondary-color;
  color: #fff;
  // ******** Effet hover ******
  &:hover {
    background-color: $hover-color;
    transition: background-color 0.2s ease;
  }
}
.btn-add {
  border: 1px solid colors.$primary-color;
  background-color: #fff;
  color: colors.$primary-color;
  }
.task-list {
  display:flex;
  justify-content: space-between;
  width: 75vw;
  }

.task-list-input {
  appearance:none;
  border: 1px solid black;
  padding: 1rem;
   &:focus{
   color: colors.$primary-color;
   border:0;
   outline: 5px ridge  colors.$primary-color;
   transition: border 0.2s ease;
  }
}
