/*.separator-rose {
  height: 60px;
  width: 60px;
  margin: 0 50px;
}*/
// Définition de variables pour réutilisation
$rose-width: 60px;
$rose-height: 60px;
$margin-horizontal: 50px;

// Application des styles
.separator-rose {
  height: $rose-height;
  width: $rose-width;
  margin: 0 $margin-horizontal;

  // Ajout d'un effet hover
  animation: 3s ease-out 1s 2 backwards slidein;
  /* backwards applique les valeurs de depart  du keyframe de scale 0 au lancement de l animation
  &:hover {
    transform: scale(2);
    transition: transform 3s ease-out; /* avec changement de valeur, propriete tel que : hover (une sorte de condition et changement d etat)
    a la difference des animtation css avec les keyframes qui s active meme au chargement d une page sans avoir besoin de changement d etat
  }*/
}

// Ajout éventuel de styles globaux ou partiels pour unifier
.section-styled {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;

  // Responsiveness
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

@keyframes slidein {
  from { transform: scaleX(0.1); }
  to   { transform: scaleX(1); }
}

